.banner-mission {

  .banner__right {
    flex-basis: 60%;
  }
}

@media all and (min-width: 500px) {
  .banner-mission {
    .banner__left {
      flex-basis: 30%;
    }

    .banner__right {
      flex-basis: 70%;
    }
  }
}

@media all and (min-width: 768px) {
  .banner-mission {
    .banner__left {
      flex-basis: 20%;
    }

    .banner__right {
      flex-basis: 80%;
    }
  }
}

@media all and (min-width: 1100px) {
  .banner-mission {
    .icon-button {
      display: block;
      margin-left: 2rem;
    }

    .banner__text, .banner__left > .banner__hairline {
      font-size: 1rem;
    }

    .banner__left > .banner__title {
      font-size: 1.5rem;
      letter-spacing: 0;
    }
  }
}
