@import "abstracts/variables";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html, body {
  width: 100%;
  margin: 0;
  background-color: var(--color-white);
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

iframe
{
  display: none;
}

body {
  position: relative;
}

a, a:visited {
  color: var(--color-white);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr[role="separator"] {
  border: 0 none;
  border-bottom: 2px dotted var(--color-dark-gray);
  margin: 1.5rem 1rem;
}

.max-centered {
  display: contents;
}

.loading {
  width: 30px;
  height: 30px;
  border: 5px solid rgba(var(--color-green-positive), 0 );
  border-bottom-color: rgba(var(--color-green-positive), 1);
  animation: spinner-anim 1s linear infinite;
}

@keyframes spinner-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media all and (min-width: 768px) {
  html, body {
    font-size: 14px;
  }
}

@media all and (min-width: 1100px) {
  html, body {
    font-size: 18px;
  }

  .max-centered {
    position: relative;
    display: block;
    width: 100vw;
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
  }

  .max-centered > *,
  .max-centered > hr[role="separator"] {
    margin-right: 0;
    margin-left: 0;
  }

  .max-centered main {
    padding: 0;
  }

  hr[role="separator"] {
    margin: 2rem 0;
  }
}
