
main[role="main"] {
  padding: 0 1rem;
  margin-top: 2rem;
}

main h2,
main h3,
main h4,
main h5 {
  font-weight: 400;
  margin: 0;
}

main h3 {
  font-size: 2.6rem;
}

main h4 {
  font-size: 1.3rem;
}

main h5 {
  font-size: 0.9rem;
}

main h2 {
  color: var(--color-dark-gray);
  margin: 0 0 2rem;
  font-size: 2rem;
}

.post-votes-container {
  height: 95vw;
  overflow-x: auto;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > select {
      display: none;
      border: 2px solid var(--color-dark-gray);
      border-radius: 0;
      padding: 0.5rem;
      width: 150px;
    }
  }

  &__scroll {
    display: flex;
    width: fit-content;
  }
}

.past-votes-card {
  width: 92vw;
  height: auto;
  aspect-ratio: 1;
  position: relative;
  margin: 5px;
  color: var(--color-light-gray);
  overflow: hidden;
  transition: 0.1s transform;

  &__picture,
  &__glass-background,
  &__result {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__glass-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00000000 0%, #00000080 20%);
  }

  &__picture {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__result {
    padding: 0.5rem;
    width: 40px;
    box-sizing: border-box;
    aspect-ratio: 1;

    svg {
      width: 100%;
      height: 100%;
    }

    &.green {
      background-color: rgba(var(--color-green-positive), 1);
    }

    &.yellow {
      background-color: rgba(var(--color-yellow-negative), 1);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    z-index: 1;
    margin-top: 15px;

    &__left-side {
      flex: 3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      grid-gap: 10px;
      padding: 0 1rem;
      box-sizing: border-box;
    }

    &__right-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 2;
    }
  }

  &__vote-bar {
    display: flex;
    align-items: center;
    z-index: 1;
    height: 50px;

    &__fill {
      height: 100%;
      display: inline-flex;
      width: var(--bar-width);
      font-size: 1.75rem;
      align-items: center;
      padding: 0 2rem;
      box-sizing: border-box;
      grid-gap: 10px;
      transition: 0.2s width;

      svg {
        min-width: 25px;
        height: 25px;
      }

      &.green {
        background-color: rgba(var(--color-green-positive), .7);
      }

      &.yellow {
        background-color: rgba(var(--color-yellow-negative), .7);
        flex: 1;
        justify-content: flex-end;
      }
    }
  }

  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: inherit;
    max-width: 90%;
  }

  &__description {
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  &__category {
    margin-bottom: 10px;
  }

  &__vote-buttons {
    display: flex;
    align-items: center;
    grid-gap: 10px;
    height: 50px;

    .icon-button {
      height: 100%;
      aspect-ratio: 1;
      box-sizing: border-box;
    }

    .black {
      height: 100%;
      position: relative;
      display: block;
      padding: 0.5rem 0.5rem;
      border: 2px solid var(--color-light-gray);
      background: var(--color-darker-gray);
      color: var(--color-light-gray);
      font-size: 1.5rem;
    }
  }
}

@media all and (min-width: 500px) {
  .post-votes-container {
    height: auto;
    overflow-x: visible;

    &__title > select {
      display: block;
    }

    &__scroll {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 100%;
    }

    .past-votes-card {
      display: inline-flex;
      min-width: 340px;
      height: auto;
      aspect-ratio: 1;
    }
  }

  .past-votes-card {
    &:hover {
      transform: scale(1.1);
      z-index: 2;
      box-shadow: 0 0 5px 5px #00000050;
    }
  }

  .post-votes-container:not(.grid-view) {
    .past-votes-card {
      display: flex;
      height: 200px;
      max-width: none;
      width: 100%;

      &:hover {
        transform: scale(1.02);
      }

      img {
        max-width: 160px;
      }

      &__info {
        flex-direction: row;
        margin-left: 11rem;

        &__left-side {
          flex: 2;
          display: flex;
        }

        &__right-side {
          flex: 2;
        }
      }
    }
  }

}

@media all and (min-width: 768px) {
  .post-votes-container.grid-view {
    .past-votes-card {
      max-width: 320px;
    }
  }
  .post-votes-container:not(.grid-view) {
    .past-votes-card__info__right-side {
      //flex: 1;
    }
  }
}

@media all and (min-width: 1100px) {
  main h2 {
    font-size: 2.5rem;
  }

  main h3 {
    font-size: 1.8rem;
  }

  main h4 {
    font-size: 1.3rem;
  }

  main h5 {
    font-size: 1.1rem;
  }
}

